$primary: #00D254;
$secondary: #FFFCAE;

$white: #fff;
$light: #FFFEEF;
$black: #000;
$dark: #272727;
$gray-63: #636363;
$text: #3F3D56;
$text-62: #626262;

$thin: 100;
$regular: 400;
$meduim: 600;
$semibold: 700;
$bold: 900;

$Grandstander: 'Grandstander';